/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- Style ---- */



#canvas {
  border: 1px solid green;
  /* background-image: url(https://static1.squarespace.com/static/574faff6f8baf35e5da43485/5758471845bf218e90d0bebb/575d898007eaa04ea3c88c72/1465748141923/mirandi-yule-dribbble.gif); */
  /* background-image: url(https://cdn.dribbble.com/users/797723/screenshots/3246670/cel-shade_fire_800x600.gif); */
  /* background-image: url(https://cdn.dribbble.com/users/563824/screenshots/2651843/untitled-4.gif); */
  background-size: cover;
  
  margin-top: 15px; 
}

#intro {
  background-color: rgb(24, 25, 27);
  background-image: url(https://vignette.wikia.nocookie.net/fantendo/images/9/92/Fire_PNG6032.png/revision/latest?cb=20160606034134);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 640px;
  display: flex; 
  justify-content: center;
}

.intro-title {
  color: white;
  font-size: 120px;
   
}