/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- Style ---- */



#canvas {
  border: 1px solid green;
  /* background-image: url(https://static1.squarespace.com/static/574faff6f8baf35e5da43485/5758471845bf218e90d0bebb/575d898007eaa04ea3c88c72/1465748141923/mirandi-yule-dribbble.gif); */
  /* background-image: url(https://cdn.dribbble.com/users/797723/screenshots/3246670/cel-shade_fire_800x600.gif); */
  /* background-image: url(https://cdn.dribbble.com/users/563824/screenshots/2651843/untitled-4.gif); */
  background-size: cover;
   
}

#intro {
  background-color: rgb(24, 25, 27);
  /* background-image: url(https://vignette.wikia.nocookie.net/fantendo/images/9/92/Fire_PNG6032.png/revision/latest?cb=20160606034134); */
  background-image: url(./img/backgroud-img-game.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 640px;
  
  
}

.intro-title {
  color: white;
  font-size: 120px;
  margin-top: 0;
  text-align: center;
}

/* soorry for the class name */

.title-position {
  margin-bottom: 150px; 
}

#btn-start {
  display: block;
  margin: 0 auto;
  padding: 25px 100px; 
  background-color: rgba(32, 0, 1, 0.801);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  /* transition:0.3s ease all; */
  border: 2px solid rgba(32, 0, 1, 0.801);

}

#btn-start:hover {
  background-color: rgb(32, 0, 1);
  background-image: url(https://78.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_o05a7p1j5z1tzv1dpo1_500.gif); 
  /* background-image: url(https://media.giphy.com/media/6Sivhwc8SgUtW/giphy.gif); */
  background-position: center;
  color: white;
}

#end {
  background-image: url(./img/background-img-drark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 640px;
}


#score {
  text-align: center;
  color: white;
  font-size: 60px;
}

#end-btn {
  display: block;
  margin: 0 auto;
  padding: 25px 100px; 
  background-color: rgba(32, 0, 1, 0.801);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  border: 2px solid rgba(32, 0, 1, 0.801);
}

#end-btn:hover {
  background-color: rgb(32, 0, 1);
}

